<footer>	
	<div class="foot-main">
		<div class="foot-center">
			<div class="foot-center-news-tx1">
				NEWSLETTER, les guides et astuces MonApp
			</div>
			<div class="foot-center-news-form">
				<div class="foot-center-news-input"><input type="text" value="" class="foot-center-input"></div>
				<div style="float:left;"><button type="button" class="btn btn-primary">S'inscrire</button></div>
				<div style="clear:both;"></div>
			</div>
			<div class="foot-center-menu-cont">
				<div class="foot-center-menu-cell">
					<div class="foot-center-menu-title">L'ENTREPRISE</div>
					<div class="foot-center-menu-title-bar"></div>
					<div class="foot-center-menu-text" [routerLinkActive]="['active']">
						<a routerLink="entreprise/qui-sommes-nous" style="color:#fff;text-decoration:none;">Qui sommes-nous ?</a>
					</div>
					<div class="foot-center-menu-text">Nous contacter</div>
					<div class="foot-center-menu-text">Nous recrutons</div>
				</div>
				<div class="foot-center-menu-cell">
					<div class="foot-center-menu-title">À DÉCOUVRIR</div>
					<div class="foot-center-menu-title-bar"></div>
					<div class="foot-center-menu-text">Nos dernières annonces</div>
					<div class="foot-center-menu-text">Toutes les villes</div>
					<div class="foot-center-menu-text">Tous les départements</div>
					<div class="foot-center-menu-text">Toutes les régions</div>
				</div>
				<div class="foot-center-menu-cell">
					<div class="foot-center-menu-title">INFORMATIONS LÉGALES</div>
					<div class="foot-center-menu-title-bar"></div>
					<div class="foot-center-menu-text">Conditions générales d'utilisation</div>
					<div class="foot-center-menu-text">Règles de diffusion</div>
					<div class="foot-center-menu-text">Conditions Générales de Vente</div>
					<div class="foot-center-menu-text">Vie privée et cookies</div>
				</div>
				<div style="float:left;">
					<div class="foot-center-menu-title">PROFESSIONNELS</div>
					<div class="foot-center-menu-title-bar"></div>
					<div class="foot-center-menu-text">Publicité</div>
					<div class="foot-center-menu-text">Vos recrutements</div>
					<div class="foot-center-menu-text">Toutes nos solutions pros</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
	<div class="foot-bottom">
		<div class="foot-bottom-center">
			© 2017 MonApp, Inc.
		</div>
	</div>
</footer>