<footer>	
	<div style="padding:20px;background:#434a54;">
		<div style="margin:0 auto;width:1100px;">
			<div style="color:#fff;padding-left:20px;">
				NEWSLETTER, les guides et astuces MonApp
			</div>
			<div style="color:#000;margin:10px 0 0 20px;background:#fff;padding:5px 0;width:600px;">
				<div style="float:left;margin-right:10px;"><input type="text" value="" style="padding:5px 10px;width:500px;border:0;outline:none;"></div>
				<div style="float:left;"><button type="button" class="btn btn-primary">S'inscrire</button></div>
				<div style="clear:both;"></div>
			</div>
			<div style="margin-top:20px;padding:20px 0 40px 20px;border-top:1px solid #656d78;color:#fff;">
				<div style="float:left;margin-right:100px;">
					<div style="font-weight:bold;">L'ENTREPRISE</div>
					<div style="border-top:1px solid #fff;width:65px;margin-top:10px;"></div>
					<div style="margin-top:15px;">Qui sommes-nous ?</div>
					<div style="margin-top:15px;">Nous contacter</div>
					<div style="margin-top:15px;">Nous recrutons</div>
				</div>
				<div style="float:left;margin-right:100px;">
					<div style="font-weight:bold;">À DÉCOUVRIR</div>
					<div style="border-top:1px solid #fff;width:65px;margin-top:10px;"></div>
					<div style="margin-top:15px;">Nos dernières annonces</div>
					<div style="margin-top:15px;">Toutes les villes</div>
					<div style="margin-top:15px;">Tous les départements</div>
					<div style="margin-top:15px;">Toutes les régions</div>
				</div>
				<div style="float:left;margin-right:100px;">
					<div style="font-weight:bold;">INFORMATIONS LÉGALES</div>
					<div style="border-top:1px solid #fff;width:65px;margin-top:10px;"></div>
					<div style="margin-top:15px;">Conditions générales d'utilisation</div>
					<div style="margin-top:15px;">Règles de diffusion</div>
					<div style="margin-top:15px;">Conditions Générales de Vente</div>
					<div style="margin-top:15px;">Vie privée et cookies</div>
				</div>
				<div style="float:left;">
					<div style="font-weight:bold;">PROFESSIONNELS</div>
					<div style="border-top:1px solid #fff;width:65px;margin-top:10px;"></div>
					<div style="margin-top:15px;">Publicité</div>
					<div style="margin-top:15px;">Vos recrutements</div>
					<div style="margin-top:15px;">Toutes nos solutions pros</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
	<div style="padding:10px;background:#656d78;">
		<div style="margin:0 auto;width:1100px;color:#fff;">
			<div style="padding:0 20px;text-align:center;">
					© 2017 MonApp, Inc.
			</div>
		</div>
	</div>
</footer>